# Required - Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
secretKey=<your-32-char-random-key>
API_KEY=<your-random-api-key>

# Required - Generate password hash and put here
ADMIN_PASSWORD_HASH=<bcrypt-hash>

# Required
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname

# Optional
NODE_ENV=production
DOMAIN_URL=yourdomain.com
NTFY_TOPIC=your-topic-id
LOG_LEVEL=info
PORT=3000